@page "/"

<PageTitle>Base de datos de armonía</PageTitle>

<h1>Bienvenido!</h1>

Este es un gestor de base de datos para la producción de armonía medio dígital <br /> <br />

<a href="https://www.facebook.com/armonia.medio.digital" target="_blank"> <img src="https://scontent.fgdl5-3.fna.fbcdn.net/v/t39.30808-6/281161430_2254761344676192_4786162896549520784_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEePbFJJmrTzklHua2mGeevC3ILsrswuB0LcguyuzC4HVTBSbcwGRnTy0rW0woSHzQ0_P29Ysk0OFlB-s0DWTSO&_nc_ohc=_ADp7SmnrmkAX-mrvQX&_nc_ht=scontent.fgdl5-3.fna&oh=00_AfAPq8YQ4lH0Olel0ON6pZF1F38bXvEqq99-Wk1qkDrY8A&oe=6478B72E" class="img-thumbnail" width="300" height="300" alt="Logo de armonía"></a>

